POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=change-me-super-secret-and-long

JWT_SECRET=change-me-jwt-secret-at-least-32-characters-long
JWT_EXPIRY=3600
ANON_KEY=
SERVICE_ROLE_KEY=

PG_META_CRYPTO_KEY=change-me-encryption-key-32-chars-min

PGRST_DB_SCHEMAS=public
PGRST_DB_MAX_ROWS=1000
PGRST_DB_EXTRA_SEARCH_PATH=public

SUPABASE_PUBLIC_URL=http://localhost:8000
STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project
