KEYCLOAK_ADMIN=iamadmin@admin.com.tld
KEYCLOAK_ADMIN_PASSWORD=change-me-admin-password

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=change-me-db-password

KC_PROXY_HEADERS=xforwarded
KC_HOSTNAME=auth.example.com
KC_HOSTNAME_STRICT=false
KC_HTTP_ENABLED=true
