KEYCLOAK_ADMIN=iamadmin@admin.com.tld
KEYCLOAK_ADMIN_PASSWORD=asljkiamadmin12!23-af31!-fqas

KEYCLOAK_DB=postgres
KEYCLOAK_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=change-me-db-password

KEYCLOAK_PROXY_HEADER=xforwarded
KEYCLOAK_HOSTNAME=auth.example.com
KEYCLOAK_HOSTNAME_STRICT=false
KEYCLOAK_HTTP_ENABLED=true
